div#main-wrapper
    app-header
    app-sidebar
    .page-wrapper
        .container-fluid
            app-breadcrumbs
            .row
                .col-12
                    .card
                        .card-body
                            router-outlet