aside.left-sidebar
  // Sidebar scroll
  .scroll-sidebar
    // Sidebar navigation
    nav.sidebar-nav
      ul#sidebarnav
        li.user-profile
          a.has-arrow.waves-effect.waves-dark(href='#', aria-expanded='false')
            img(src='./assets/images/users/profile.png', alt='user')
            span.hide-menu Steave Jobs 
          ul.collapse(aria-expanded='false')
            li
              a(href='javascript:void()') My Profile 
            li
              a(href='javascript:void()') My Balance
            li
              a(href='javascript:void()') Inbox
            li
              a(href='#/account-settings') Account Setting
            li
              a(href='javascript:void()') Logout
        li.nav-devider
        li.nav-small-cap PERSONAL
        li('*ngFor'="let option of menu")
          a.has-arrow.waves-effect.waves-dark(href='#', aria-expanded='false')
            i(class="{{option.icon}}")
            span.hide-menu {{option.title}}
              span.label.label-rouded.label-themecolor.pull-right {{option.subitems.length}}
          ul.collapse(aria-expanded='false')
            li('*ngFor'="let suboption of option.subitems")
              a('[routerLink]' ="[suboption.url]" 'routerLinkActive'="active") {{suboption.title}} 
