.row.page-titles
  .col-md-5.align-self-center
    h3.text-themecolor Blank Page
  .col-md-7.align-self-center
    ol.breadcrumb
      li.breadcrumb-item
        a(href='javascript:void(0)') Home
      li.breadcrumb-item pages
      li.breadcrumb-item.active Blank Page