.row
    .col-md-5
        .card
            .card-body
                h4.card-title Temas
                hr
                .r-panel-body
                    ul#themecolors.m-t-20
                        li
                            b Con el sidebar claro
                        li
                            a.selector.default-theme('(click)'="cambiarColor('default')" data-theme='default') 1
                        li
                            a.selector.green-theme('(click)'="cambiarColor('green')" data-theme='green') 2
                        li
                            a.selector.red-theme('(click)'="cambiarColor('red')" data-theme='red') 3
                        li
                            a.selector.blue-theme('(click)'="cambiarColor('blue')" data-theme='blue') 4
                        li
                            a.selector.purple-theme('(click)'="cambiarColor('purple')" data-theme='purple') 5
                        li
                            a.selector.megna-theme('(click)'="cambiarColor('megna')" data-theme='megna') 6
                        li.d-block.m-t-30
                            b Con el sidebar oscuro
                        li
                            a.selector.default-dark-theme('(click)'="cambiarColor('default-dark')" data-theme='default-dark') 7
                        li
                            a.selector.green-dark-theme('(click)'="cambiarColor('green-dark')" data-theme='green-dark') 8
                        li
                            a.selector.red-dark-theme('(click)'="cambiarColor('red-dark')" data-theme='red-dark') 9
                        li
                            a.selector.blue-dark-theme('(click)'="cambiarColor('blue-dark')" data-theme='blue-dark') 10
                        li
                            a.selector.purple-dark-theme('(click)'="cambiarColor('purple-dark')" data-theme='purple-dark') 11
                        li
                            a.selector.megna-dark-theme('(click)'="cambiarColor('megna-dark')" data-theme='megna-dark') 12
